.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: auto;
    height: 74vh;
}
.contact-img{
    width: 100%;
}
.contact-texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
}
.contact-texts-h2{
    font-size: 3em;
    color: #1bd5e1;
}
.contact-texts-p{
    font-size: 1.1em;
    font-weight: 600;
    line-height: 30px;
}
.social-medias{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.social-medias div{
    border-radius: 50%;
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border: 1px solid #fff;
}

.social-medias a:nth-child(1) div:hover{
    background: #0077b5;
    border-color: #0077b5;
}
.social-medias a:nth-child(2) div:hover{
    background: #181717;
    border-color: #181717;
}
.social-medias a:nth-child(3) div:hover{
    background: #25D366;
    border-color: #25D366;
}
.social-medias a:nth-child(4) div:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-color: #f09433;
}
.social-medias a:nth-child(5) div:hover{
    background: #d44638;
    border-color: #d44638;
}
.contact-button{
    display: flex;
    margin: auto;
    padding: 8px 12px;
    border-radius: 5px;    
    border: 0px;
    background-color: #1bd5e1;
    opacity: .8;
    cursor: pointer;
    transition: .5s;
    color: #fff;
    font-size: 1em;
}
.contact-button:hover{
    opacity: 1;
}

@media screen and ( max-width: 768px ) {
    .contact-container{
        flex-direction: column;
    }
    .contact-img{
        display: flex;
        justify-content: center;
    }
    .contact-container{
        height: auto;
    }
}

@media screen and ( max-width: 479px ) {
    .contact-img img{
        max-width: 250px;
    }
}