*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
} 

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: #046276;
}